# Question #1

1. Produce a table ranked by the most frequently observed gene in the highest number of patient samples.

In [3]:
# read data
import pandas as pd
df = pd.read_csv('./../../data/clinical_and_encode_overlaps.bed',sep='\t')
df.head()

,chr,start,end,strand,hit_count,span_count,gene_name1,gene_name2,sample,chr2,start2,end2,gene_open
0,chrX,155036210,155036211,+,13,1,FUNDC2,FUNDC2,t1,chrX,155035479,155036386,FUNDC2
1,chrX,155036210,155036211,+,13,1,FUNDC2,FUNDC2,t1,chrX,155035344,155036697,FUNDC2
2,chrX,155036210,155036211,+,13,1,FUNDC2,FUNDC2,t1,chrX,155035344,155036697,FUNDC2
3,chrX,155036210,155036211,+,13,1,FUNDC2,FUNDC2,t1,chrX,155035479,155036386,FUNDC2
4,chrX,139752397,139752398,+,9,1,MCF2,ATP11C,t1,chrX,139752081,139752796,MCF2

In [4]:
# get list of unique genes

list_of_uniq_genes =  list(set(df['gene_open'].tolist()))
list_of_uniq_genes[0:5]

[nan, 'FERMT3', 'FXR1', 'ZMYM4', 'CYBA']

In [5]:
# coutn most frequent genes in highest group of patientces
list_count_times_obs_gene = []

for gene in list_of_uniq_genes:
    df_filt = df[df['gene_open'] == gene]
    count_times_obs_gene = len(list(set(df_filt['sample'].tolist())))
    list_count_times_obs_gene.append(count_times_obs_gene)
print('ready counting genes')

ready counting genes

In [18]:
# reshape data to dataframe

df_list_genes_counts = pd.DataFrame([list_of_uniq_genes,list_count_times_obs_gene])
df_list_genes_counts_t = df_list_genes_counts.transpose()
df_list_genes_counts_t = df_list_genes_counts_t.rename(columns={0: 'gene',1:'# participants'})
df_list_genes_counts_t_sorted = df_list_genes_counts_t.sort_values(by='# participants',ascending=False)
df_list_genes_counts_t_sorted = df_list_genes_counts_t_sorted[~(df_list_genes_counts_t_sorted['gene'] == '-')]
df_list_genes_counts_t_sorted = df_list_genes_counts_t_sorted.reset_index().drop('index',axis=1)
print('ready formatting table')
df_list_genes_counts_t_sorted.head(20)

ready formatting table

       gene # participants
0    NPLOC4             17
1     DNMT1             13
2    QRICH1             12
3      HSF1             12
4     PACS1             11
5      NSD1             11
6      NADK             10
7    SPTAN1             10
8     LUC7L             10
9     KDM2A             10
10     PLEC             10
11    FBXW5             10
12  MIR7112             10
13   ZNF276             10
14    HERC1             10
15    LIME1             10
16  FAM193A             10
17      SF1              9
18   IMPDH2              9
19    MROH1              9

In [19]:
df_list_genes_counts_t_sorted.to_csv('./../../output/table_ranked_by_the_most_frequently_observed_gene_in_the_highest_number_of_patient_samples.txt',sep='\t',index=None)
print('ready saving data')

ready saving data

In [20]:
# table summarize 

import pandas as pd

# Sample ranked data for 25 patients
ranked_df = df_list_genes_counts_t_sorted.copy()

# Define patient count thresholds and corresponding labels
thresholds = [1, 3, 5, 10, 15, 25]
labels = [ '1-3', '4-5', '6-10', '11-15', '16-25']

# Create bins and categorize genes based on patient counts
ranked_df['Patient Count Range'] = pd.cut(ranked_df['# participants'], bins=thresholds, right=True, labels=labels)

# Count the number of genes in each category
summary = ranked_df['Patient Count Range'].value_counts().reset_index()
summary.columns = ['Patient Count Range', 'Number of Genes']

# Sort the summary
summary = summary.sort_values(by='Patient Count Range')

# Display the summary
print(summary)

  Patient Count Range  Number of Genes
0                 1-3             1952
1                 4-5              583
2                6-10              230
3               11-15                5
4               16-25                1